body {
  text-align: center;
}

input {
  padding: 5px;
   margin-left: 1em;
}

button {
  margin-left: 1em;
  background-color: #3C8838;
  color: #fff;
  border: none;
  padding: 8px 20px;
}

section {
  padding: 20px;
}

article {
  margin-top: 40px;
}